body {
    margin: 0;
    font-family: sans;
}
#canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
#controls {
    position: absolute;
    top: 0;
    background: #ddd;
    padding: 5px;
    border: 1px solid black;
    opacity: 0.8;
}
