body {
    margin: 10px;
    font-family: sans;
}
#controls {
    position: absolute;
    top: 0;
    right: 0;
    background: #ddd;
    padding: 5px;
    border: 1px solid black;
    opacity: 0.8;
}

textarea {
    width: 90%;
    height: 100px;
}
